body {
    background: #252a34;
    color: #ebebeb;
}

.row {
    margin-top: 1%;
}

#temp {    
    background: #252a34;
}
 /*NAVBAR*/
#my-navbar { 
    background-color: #252a34;    
    border-bottom: solid 1px;    
    border-bottom-color: #fff;
    padding: 15px 0 15px 0;
}

li.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

a.navbar-brand {
    margin-left: 10%;
}

div#navbarCollapse {
    margin-right: 10%;
}
/*NAVBAR*/
.skill-elem{
    font-size: 20px;
    height: 40px;
    text-align: center;    
    background-color: #384050;
    margin-top: 5px;
}
.empty-row {
    height: 20px;
}

.skill-elem:hover{
    background-color: #475063;
    color: #167ddd;
}

section#main-section {
    padding-top: 75px;
}

img#portrait-img {
    
    /*max-width:300px;
    max-height:300px;*/
    width: auto;
    height: auto;
    border-radius: 50%;  

    /*
    padding: 15px;
    width: 100%;      
    */
}

img.img-project {
    height: 300px;
    min-width: 150px;
}

.diff1 {
    background: #452a34;
}

.diff2 {
    background: #7f2a34;
}

/*FOOTER*/
footer {
    margin-top: 1%;
    border-top: solid 1px; 
    border-bottom-color: #fff;    
}